# Build
build

# CMake
build
cmake
cmake-build-*

# Ctags files
tags
tags.idx

# Modules
modules/*
!modules/CMakeLists.txt
!modules/*.cmake

# Temporary
.idea
temp

# Protobuf files
messages/*.pb.*

# Object files, some bins and static libs
*.o
*a
messages/main
